	div {
		position: relative;
		width: 200px;
		padding: 10px;
		margin: 0 auto;

		background: white;
		color: black;
		outline: none;
		cursor: pointer;
		border: 1px solid #95a5a6;

		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
	}

	ul {
		border: 1px solid #3498db;
		border-radius: 3px;
		padding: 10px

	}

	ul li {
		display: none;
		text-align: left;
		margin-top: 10px;
		height: 100%;
	}
	span {
		font-size: small;
		opacity: 0.3;
	}

	li {
		list-style: none;
		opacity: 0.8;
	}

	ul li:hover {
		background-color: #ecf0f1;
	}